<h1>watch.io: movies, your way.</h1>

<form class="search">
  <label for="title">
    Search Movies:
    <input type="text" name="title" placeholder="space jam">
  </label>

  <button>search!</button>
</form>

<script type="text/html" id="search">
  <h3>Results for "<%%= this.searchedTitle %>"</h3>
</script>

<script type="text/html" id="movie">
  <h2><%%= Title %></h2>
  <%% if (Poster !== 'N/A') { %>
    <img src="<%%= Poster %>" alt="<%%= Title %> poster"></img>
  <%% } %>
  <button class="add">Add to Watchlist</button>
  <p><%%= Plot %></p>
</script>
